html {
    background-color: rgba(195, 190, 200, 0.93);
    font-family: Georgia, serif;
	font-size: 16px;
	min-width: 280px;
	text-align: center;
}

h1 {
	font-size: clamp(1.7rem, 3.2vw, 5rem);
    width: fit-content;
    margin: 15px auto;
    background-color: rgb(20, 0, 30);
    color: rgb(255, 230, 180);
    border-radius: 10px;
    padding: 10px;
}

h2 {
	font-size: clamp(1.3rem, 2.2vw, 5rem);
    width: fit-content;
    margin: 15px auto;
    color: rgb(20, 0, 30);
    text-decoration: underline dashed;
}

h3 {
	font-size: clamp(1rem, 1.7vw, 4.5rem);
    color: rgb(20, 0, 30);
}

p {
    font-size: clamp(0.8rem, 1.4vw, 5rem);
    color: rgb(20, 0, 30);
}

a {
    font-size: clamp(1rem, 1.7vw, 5rem);
}

a:link {
    color: rgb(20, 0, 30);
}

a:visited {
    color: rgb(20, 0, 30);
}

a:hover {
    text-decoration: none;
}

a:active {
    color: rgb(200, 50, 50);
    text-decoration: none;
}

.Logo {
    z-index: 10;
    width: clamp(3rem, 12vw, 10rem);
    height: clamp(3rem, 12vw, 10rem);
    position: fixed;
    top: 7px; 
    left: 7px; 
    border-radius: 10px;
}

#Tabs {
    background-color: rgb(255, 230, 180);
    color: rgb(20, 0, 30);
    width: fit-content; 
    display: flex;
    list-style: none;
    gap: 3vw;     
    padding: 0;
    margin: 0 auto;             
    text-align: center; 
    border-radius: 10px;
    padding: 5px;
}

.BlackCats, .VoidCats {
    display: flex;
    list-style: none;
    flex-wrap: wrap; 
    gap: clamp(2rem, 3vw, 10rem);
    list-style: none;
	flex: 1 1 300px; 
    align-items: center; 
    flex-direction: column;
	padding-inline-start: 0px;
}

.BlackCats img, .VoidCats img {
    width: clamp(9rem, 45vw, 60rem);
    height: clamp(11rem, 50vw, 70rem);
    border-radius: 15px;
    object-fit: cover;
	border: rgb(0, 20, 30) 3px solid;
}

.Question {
	border: rgb(255, 230, 180) 5px solid; 
	padding-bottom: 15px;
}

.Answers {
	margin-top: 1.2rem;
}

hr {
    width: 75%;
    margin: 25px auto;
    border: rgb(154, 103, 120) 1px solid;
}

.NextPage {
	font-size: clamp(1rem, 1.7vw, 5rem);
	width: fit-content;
	background-color: rgb(255, 230, 180);
    color: rgb(20, 0, 30);   
    margin: auto;             
    text-align: center; 
    border-radius: 10px;
    padding: 5px;
}

footer ul {
    line-height: 2rem;
    list-style: none;
	padding-inline-start: 0px;
}

@media (min-width: 800px) {
	
	.Question {
		border: rgb(255, 230, 180) 3px dashed;
	}
}

@media (max-width: 545px) {
	
	.Logo {
		left: 3px;
		top: 35px;
	}
}