html {
    background-color: rgba(255, 210, 150, 0.9);
    font-family: Georgia, serif;
	font-size: 16px;
	min-width: 280px;
	text-align: center;
}

h1 {
	font-size: clamp(1.7rem, 3.2vw, 5rem);
    width: fit-content;
    margin: 15px auto;
    background-color: rgba(80, 40, 10, 0.97);
    color: rgba(255, 210, 150, 0.9);
    border-radius: 10px;
    padding: 10px;
}

h2 {
	font-size: clamp(1.3rem, 2.2vw, 5rem);
    width: fit-content;
    margin: 15px auto;
    color: rgb(80, 40, 10);
    text-decoration: underline dashed;
}

h3 {
	font-size: clamp(1rem, 1.7vw, 4.5rem);
    color: rgb(80, 40, 10);
}

p {
    font-size: clamp(0.8rem, 1.4vw, 5rem);
    color: rgb(80, 40, 10);
}

a {
    font-size: clamp(1rem, 1.7vw, 5rem);
}

a:link {
	color: rgb(255, 210, 150);
}

a:visited {
    color: rgb(255, 210, 150);
}

a:hover {
    text-decoration: none;
}

a:active {
    color: rgb(200, 50, 50);
    text-decoration: none;
}

.Logo {
    z-index: 10;
    width: clamp(3rem, 12vw, 10rem);
    height: clamp(3rem, 12vw, 10rem);
    position: fixed;
    top: 7px; 
    left: 7px; 
    border-radius: 10px;
}

#Tabs {
    background-color: rgb(86, 45, 15);
    color: rgb(255, 210, 150);
    width: fit-content; 
    display: flex;
    list-style: none;
    gap: 3vw;     
    padding: 0;
    margin: 0 auto;             
    text-align: center; 
    border-radius: 10px;
    padding: 5px;
}

.AkwardGingerCats, .NormalGingerCats {
    display: flex;
    list-style: none;
    flex-wrap: wrap; 
    gap: clamp(2rem, 3vw, 10rem);
    list-style: none;
	flex: 1 1 300px; 
    align-items: center; 
    flex-direction: column;
	padding-inline-start: 0px;
}

.AkwardGingerCats img, .NormalGingerCats img {
    width: clamp(9rem, 45vw, 60rem);
    height: clamp(11rem, 50vw, 70rem);
    border-radius: 15px;
    object-fit: cover;
	border: rgb(120, 90, 70) 3px solid;
}

hr {
    width: 75%;
    margin: 25px auto;
    border: 1px solid rgb(154, 103, 120);
}

footer ul {
    line-height: 2rem;
    list-style: none;
	padding-inline-start: 0px;
	
	a:link {
		color: rgb(80, 40, 10);
	}

	a:visited {
		color: rgb(80, 40, 10);
	}

	a:hover {
		text-decoration: none;
	}

	a:active {
    color: rgb(200, 50, 50);
    text-decoration: none;
}
}

@media (max-width: 545px) {
	
	.Logo {
		left: 3px;
		top: 35px;
	}
}