html {
    background-color: rgba(244, 190, 190, 0.9);
    font-family: Georgia, serif;
	font-size: 16px;
	min-width: 280px;
	text-align: center;
}

h1 {
	font-size: clamp(1.7rem, 3.2vw, 5rem);
    width: fit-content;
    margin: 15px auto;
    background-color: rgba(100, 20, 20, 0.97);
    color: rgba(255, 210, 150, 0.9);
    border-radius: 10px;
    padding: 10px;
}

h2 {
	font-size: clamp(1.3rem, 2.4vw, 5rem);
    width: fit-content;
    margin: 15px auto;
    color: rgb(80, 40, 10);
	text-decoration: underline 2px;
}

h3 {
	font-size: clamp(1rem, 1.7vw, 4.5rem);
    color: rgb(80, 40, 10);
}

p {
    font-size: clamp(0.8rem, 1.4vw, 5rem);
    color: rgb(80, 40, 10);
}

a {
    font-size: clamp(1rem, 1.7vw, 5rem);
}

a:link {
	color: rgb(255, 210, 150);
}

a:visited {
    color: rgb(255, 210, 150);
}

a:hover {
    text-decoration: none;
}

a:active {
    color: rgb(200, 50, 50);
    text-decoration: none;
}

#Tabs {
    background-color: rgba(100, 20, 20, 0.97);
    color: rgb(255, 210, 150);
    width: fit-content; 
    display: flex;
    list-style: none;
    gap: 3vw;     
    padding: 0;
    margin: 0 auto;             
    text-align: center; 
    border-radius: 10px;
    padding: 5px;
}